mixin reviews-list
  h3.visually-hidden Отзывы по курсу
  ul(class!=attributes.class).reviews-list
    li.reviews-list__item
      span.visually-hidden Первый отзыв
      figure.reviews-list__review
        figcaption.reviews-list__figcaption
          cite.reviews-list__author Василий Раганов:
          h4.reviews-list__title
            q.reviews-list__title-quote Что вас ждет в этом курсе?
          time(datetime='2021-03-10 00:00').reviews-list__time 10 марта 2021
          +fake-rating(4, 'Оценка автора').reviews-list__rating
        blockquote.reviews-list__quote
          | Напишу сразу o двух курсах, так как проходил оба.
          | Java будет многим непросвещённым сложновата в изучении,
          | но здесь перевес из-за лидирующего положения языка как
          | самого популярного в программировании.
          | Выбор мой пал на эту профессию еще и потому,
          | что Java-разработчики получают самую большую зарплату.
          | Хотя Python начинает догонять Java по многим моментам,
          | но вот в крупном екоме разработке Джава все-таки остается главенствующей сейчас.
          | Скажу так - полнота программы и интенсивность присуща обоим курсам GeekBrains.
          | Хочу отметить, что с первого дня занятий вы приступаете к практике и получаете
          | опыт коммерческой разработки уже в свое резюме. Скажу вам как прошедший это -
          | реально помогло в трудоустройстве!
