include navigation/navigation
include aside/aside
include footer/footer
include header/header
include courses/courses
include vacancy/vacancy
include advantages/advantages
include skills/skills
include sort/sort
