.icon-button {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  cursor: pointer;

  &:active {
    opacity: 0.7;
  }

  &::after {
    position: absolute;

    width: 50%;
    height: 50%;

    content: "";
  }
}

.icon-button--primary-radius {
  border-radius: $border-radius-primary;
}

.icon-button--rounded-radius {
  border-radius: 10px;
}

.icon-button--big {
  width: 40px;
  height: 40px;
}

.icon-button--small {
  width: 30px;
  height: 30px;
}

.icon-button--primary {
  background-color: $primary;

  &:hover,
  &:focus {
    opacity: 0.9;
  }
}

.icon-button--ghost {
  background-color: $white-primary;
  box-shadow: $shadow-primary;

  &::after {
    filter: invert(60%) sepia(72%) saturate(4544%) hue-rotate(237deg) brightness(97%) contrast(104%);
  }

  &:hover,
  &:focus {
    background-color: $primary;
  }

  &:hover::after,
  &:focus::after {
    filter: none;
  }
}

.icon-button--arrow-up::after {
  background-image: url("../images/stack-sprite.svg#arrow");
  transform: rotate(-90deg);
}

.icon-button--search::after {
  background-image: url("../images/stack-sprite.svg#search");
}

.icon-button--burger::after {
  background-image: url("../images/stack-sprite.svg#burger");
}

.icon-button--cross::after {
  background-image: url("../images/stack-sprite.svg#cross");
}
