mixin icon-button(size='big', mod='primary', icon='search', radius='rounded-radius')
  button(
    class!=`icon-button icon-button--${radius} icon-button--${size} icon-button--${mod} icon-button--${icon}`
  )&attributes(attributes)
