mixin sort
  ul(class!=attributes.class).sort
    li.sort__item.sort__item--chosed
      button(type='button' aria-label='Сортировать по рейтингу').sort__button По рейтингу
    li..sort__item
      button(type='button' aria-label='Сортировать по цене').sort__button По цене
