@import "grid";
@import "fonts";

.page-header__title {
  display: flex;
  align-items: flex-end;
  margin: 0;
}

.page-header__drop {
  margin-left: 20px;
}

@include media("<tablet") {
  .page-header__title {
    align-items: center;
  }
}
