mixin header
  header(class!=attributes.class).header
    h1.header__title Курсы по Phoroshop
    +drop('10', 'gray').header__drop
    ul.header__sort-list
      li.header__sort-item.header__sort-item--chosed
        span.header__sort-icon
          include ./icons/sort.svg
        button(type='button' aria-label='Сортировать по рейтингу').header__sort-button По рейтингу
      li.header__sort-item
        button(type='button' aria-label='Сортировать по цене').header__sort-button По цене
