mixin header
  header(class!=attributes.class).header
    h1.header__title.text--26.text--medium Курсы по Photoshop
    +drop('10', 'gray').header__drop
    ul.header__sort-list.text--16.text--regular
      li.header__sort-item.header__sort-item--chosed
        button(type='button' aria-label='Сортировать по рейтингу').header__sort-button По рейтингу
      li.header__sort-item
        button(type='button' aria-label='Сортировать по цене').header__sort-button По цене
