.reviews-form {
  font-weight: 400;
}

.reviews-form__name,
.reviews-form__title,
.reviews-from__message {
  font-size: 16px;
}

.reviews-form__button,
.reviews-from__annotation {
  font-size: 14px;
  line-height: 24px;
}
