$primary: #7653fc;
$primary-hover: #5f40de;
$primary-active: #472abb;

$gray-primary: #3b434e;
$gray-1: #787d85;

$white-primary: #ffffff;

$page-color: #f5f6f8;
$outline-color: #ffdc3d;

$button-disabled-color: #787d85;
$button-ghost-border-color: #ebebeb;
$input-placeholder-color: #a4a4a4;
$nav-line-color: #dfdfdf;

$shadow-primary: 0 4px 4px rgba(0, 0, 0, 0.05);
$border-radius-primary: 5px;

$font-base: "NotoSans", "Arial", sans-serif;
