.navigation {
  color: $gray-1;
}

.navigation__first-item--opened > .navigation__first-title {
  color: $primary;
}

.navigation__first-title {
  font-weight: 500;
  font-size: 18px;

  &:hover,
  &:focus {
    color: $primary;
  }
}

.navigation__second-title {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $primary;
  }
}

.navigation__third-item--opened > .navigation__third-title {
  color: $primary;
}

.navigation__third-title {
  font-weight: 500;
  font-size: 14px;
}
