.navigation {
  color: $gray-1;
}

.navigation__first-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation__first-item {
  position: relative;

  padding-left: 45px;

  &--opened > .navigation__first-title {
    color: $primary;

    &::before {
      filter: $filter-primary;
    }
  }

  &--opened > .navigation__second-list {
    display: block;
    margin-bottom: 30px;
  }
}

.navigation__first-title {
  display: inline-block;
  margin-bottom: 20px;

  cursor: pointer;

  &::before {
    position: absolute;
    top: -3px;
    left: 0;

    width: 24px;
    height: 24px;

    background-repeat: no-repeat;
    background-position: center;

    content: "";
  }

  &--hat::before {
    background-image: url("../images/stack-sprite.svg#graduation-hat");
  }

  &--cloud::before {
    background-image: url("../images/stack-sprite.svg#cloud");
  }

  &--book::before {
    background-image: url("../images/stack-sprite.svg#book");
  }

  &--box::before {
    background-image: url("../images/stack-sprite.svg#box");
  }

  &:hover,
  &:focus {
    color: $primary;

    &::before {
      filter: $filter-primary;
    }
  }
}

.navigation__icon {
  position: absolute;

  top: -3px;
  left: -44px;

  width: 24px;
  height: 24px;

  & > svg {
    fill: $gray-1;
  }

  &--hat {
    top: 0;
  }
}

.navigation__second-list {
  position: relative;

  display: none;

  margin: 0;
  padding: 0;

  list-style: none;

  &::before {
    position: absolute;
    top: -5px;
    left: -32px;

    width: 1px;
    height: 105%;

    background-color: $nav-line-color;

    content: "";
  }
}

.navigation__second-item {
  &--opened > .navigation__third-list {
    display: block;
  }

  &--opened > .navigation__second-title {
    margin-bottom: 15px;
  }
}

.navigation__second-title {
  display: inline-block;
  margin-bottom: 10px;

  text-transform: uppercase;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $primary;
  }
}

.navigation__third-list {
  display: none;
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation__third-item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 20px;
  }

  &--opened {
    color: $primary;
  }
}

.navigation__third-title {
  &:hover,
  &:focus {
    color: $primary;
  }
}
