-
  const thirdList = [
     {
       thirdTitle: 'Photoshop',
       opened: true
     },
     {
       thirdTitle: 'AfterEffect',
       opened: false
     },
     {
       thirdTitle: 'Illustrator',
       opened: false
     },
     {
       thirdTitle: 'Figma',
       opened: false
     }
   ];
  const secondList = [
     {
       secondTitle: 'Дизайн',
       opened: true,
       thirdList
     },
     {
       secondTitle: 'Разработка',
       opened: false,
       thirdList
     },
     {
       secondTitle: 'Аналитика',
       opened: false,
       thirdList
     },
     {
       secondTitle: 'Маркетинг',
       opened: false,
       thirdList
     }
   ];
  const firstLists = [
     {
       firstTitle: 'Курсы',
       opened: true,
       icon: './icons/graduation-hat.svg',
       secondList
     },
     {
       firstTitle: 'Сервисы',
       opened: false,
        icon: './icons/cloud.svg',
       secondList
     },
     {
       firstTitle: 'Книги',
       opened: false,
        icon: './icons/book.svg',
       secondList
     },
     {
       firstTitle: 'Товары',
       opened: false,
        icon: './icons/box.svg',
       secondList
     }
   ];

mixin thirdList(secondItem)
  ul.navigation__third-list
    each thirdItem in secondItem.thirdList
      if thirdItem.opened
        li(data-receiver='third').navigation__third-item.navigation__third-item--opened
          a(href='#' data-toggel='third').navigation__third-title= thirdItem.thirdTitle
      else
        li(data-receiver='third').navigation__third-item
          a(href='#' data-toggel='third').navigation__third-title= thirdItem.thirdTitle

mixin secondList(firstItem)
  ul.navigation__second-list
    each secondItem in firstItem.secondList
      if secondItem.opened
        li(data-receiver='second').navigation__second-item.navigation__second-item--opened
          span(tabindex='0' data-toggel='second').navigation__second-title= secondItem.secondTitle
          +thirdList(secondItem)
      else
        li(data-receiver='second').navigation__second-item
          span(tabindex='0' data-toggel='second').navigation__second-title= secondItem.secondTitle
          +thirdList(secondItem)

mixin navigation-icon(icon)
  case icon
    when './icons/graduation-hat.svg'
      span.navigation__icon.navigation__icon--hat
        include ./icons/graduation-hat.svg
    when './icons/cloud.svg'
      span.navigation__icon.navigation__icon--cloud
        include ./icons/cloud.svg
    when './icons/book.svg'
      span.navigation__icon.navigation__icon--book
        include ./icons/book.svg
    when './icons/box.svg'
      span.navigation__icon.navigation__icon--box
        include ./icons/box.svg

mixin navigation
  nav(class!=attributes.class).navigation
    ul.navigation__first-list
      each firstItem in firstLists
        if firstItem.opened
          li(data-receiver='first').navigation__first-item.navigation__first-item--opened
            span(tabindex='0' data-toggel='first').navigation__first-title= firstItem.firstTitle
            +navigation-icon(firstItem.icon)
            +secondList(firstItem)
        else
          li(data-receiver='first').navigation__first-item
            span(tabindex='0' data-toggel='first').navigation__first-title= firstItem.firstTitle
            +navigation-icon(firstItem.icon)
            +secondList(firstItem)
