.main-header {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  row-gap: 15px;
}

.main-header__logo {
  grid-row: 1;
}

.main-header__menu {
  grid-row: 2;
}

@include media("<desktop") {
  .main-header {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr min-content;
  }

  .main-header__logo {
    grid-row: 1;
    grid-column: 1;
  }

  .main-header__burger {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
  }
}
