mixin main-header
  header(class!='main-header' + '')&attributes(attributes)
    a(href='/' aria-label='На главную странцу').main-header__logo
      +logo

    +button('', 'convex', 'burger')(
      aria-label='Открыть меню'
      data-menu-open=''
    ).main-header__burger

    +menu(data-menu='').main-header__menu
