mixin main-header
  header(class!='main-header' + '')&attributes(attributes)
    a(href='/' aria-label='На главную странцу').main-header__logo
      +logo

    +icon-button('big', 'ghost', 'burger')#menu-open(
      aria-label='Открыть меню'
    ).main-header__burger

    +menu#menu.main-header__menu
