.reviews-list {
  font-weight: 400;
  font-size: 14px;
}

.reviews-list__author {
  font-weight: 700;
  font-style: normal;
}

.reviews-list__title {
  font-weight: inherit;
}

.reviews-list__quote {
  line-height: 24px;
}
