mixin menu
  div(class!='menu' + '')&attributes(attributes)
    +logo.menu__logo

    +icon-button('big', 'ghost', 'cross')#menu-close(
      aria-label='Закрыть меню'
    ).menu__close

    +search.menu__search

    +navigation#accordion.menu__navigation
