extends ../layout/layout

block varaiables
  - const title = 'Index'

block main
  main(aria-label='Основной контент страницы').layout__main.index-main
    +header.index-main__header
    +courses.index-main__courses
    +vacancy.index-main__vacancy
    +advantages.index-main__advantages
    +skills.index-main__skills
