extends ../layout/layout.pug

block varaiables
  - const title = 'Index'

block main
  main.layout__main.index-main
    +header.index-main__header
    +courses.index-main__courses
    +vacancy.index-main__vacancy
