@import "grid";
@import "fonts";

.course-content__summary {
  margin: 0;
  margin-bottom: 15px;
}

.course-content__summary-group {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.course-content__summary-term {
  justify-self: start;
}

.course-content__summary-line {
  flex-grow: 1;
  margin: 0 15px;

  border-bottom: 2px dotted #c4c4c4;
}

.course-content__summary-def {
  justify-self: end;
  margin: 0;
}

.course-content__features-title {
  margin: 0;
  margin-bottom: 5px;
  padding-left: 15px;
}

.course-content__features-content {
  position: relative;

  margin: 0;
  margin-bottom: 20px;
  padding-left: 15px;

  &::before {
    position: absolute;
    top: -20px;
    left: 0;

    width: 3px;
    height: calc(100% + 20px);

    border-radius: 20px;

    content: "";
  }

  &--advantages::before {
    background-color: #1dc37e;
  }

  &--disadvantages::before {
    background-color: #fc836d;
  }
}

@include media("<500px") {
  .course-content__summary-group {
    flex-direction: column;
  }

  .course-content__summary-term {
    margin-bottom: 5px;
  }

  .course-content__summary {
    margin-bottom: 20px;
  }
}
