mixin course-content
  div(class!=attributes.class).course-content
    h3.visually-hidden Краткое описание
    p.course-content__description
      | Студенты освоят не только hard skills, необходимые для работы веб-дизайнером,
      | но и soft skills — навыки, которые позволят эффективно взаимодействовать в команде с менеджерами,
      | разработчиками и маркетологами. Выпускники факультета могут успешно
      | конкурировать с веб-дизайнерами уровня middle.

    .course-content__column.course-content__columg--left
      dl.course-content__summary
        .course-content__summary-group
          dt.course-content__summary-term Документ об окончании
          //- .course-content__summary-line
          dd.course-content__summary-def Диплом
        .course-content__summary-group
          dt.course-content__summary-term Сложность
          //- .course-content__summary-line
          dd.course-content__summary-def Начальная
        .course-content__summary-group
          dt.course-content__summary-term Длительность
          //- .course-content__summary-line
          dd.course-content__summary-def 5 месяцев
      +hashtags(['Гарантия трудоустройства'], 'ghost')

    .course-content__column.course-content__columg--right
      h3.course-content__features-title Преимущества
      p.course-content__features-content.course-content__features-content--advantages
        | Хорошо структурирован курс, быстрый отклик преподователей, качество подачи материал
      h3.course-content__features-title Недостатки
      p.course-content__features-content.course-content__features-content--disadvantages
        | Некоторое темы раскрыты не до конца
