.course-content {
  font-size: 16px;
}

.course-content__description {
  font-weight: 400;
  line-height: 24px;
}

.course-content__summary-term,
.course-content__features-title {
  font-weight: 700;
}

.course-content__summary-def,
.course-content__features-content {
  font-weight: 400;
}

.course-content__features-content {
  line-height: 22px;
}
