include course-header/course-header
include course-content/course-content
include course-footer/course-footer
include reviews-list/reviews-list
include reviews-form/reviews-form

mixin courses
  ul.courses
    li.courses__item
      section.courses__course
        +course-header.courses__course-header

        +course-content.courses__course-content

        +course-footer.courses__course-footer

        div(data-reviews='reviews').courses__course-reviews
          +reviews-list.courses__course-reviews-list

          +reviews-form(
            method='post'
            action='#'
            autocomplete='off'
          ).courses__course-reviews-form
