.courses__course {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.courses__course-header {
  grid-row: 1;
}

.courses__course-content {
  grid-row: 2;
}

.courses__course-footer {
  grid-row: 3;
}

.courses__course-reviews {
  display: grid;
  grid-row: 4;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.courses__course-reviews-list {
  grid-row: 1;
}

.courses__course-reviews-form {
  grid-row: 2;
}
