@import "fonts";

.input-group {
  height: 100%;

  &--textarea .input-group__input {
    resize: none;
  }
}

.input-group__label {
  @include visually-hidden;
}

.input-group__input {
  width: 100%;
  height: 100%;
  padding: 7px 15px;

  background-color: $white-primary;

  border: none;

  border-radius: $border-radius-primary;
  outline-color: inherit;
  outline-offset: inherit;

  box-shadow: $shadow-primary;

  &::placeholder {
    color: $input-placeholder-color;
  }
}
