.vacancy__title {
  font-weight: 500;
  font-size: 22px;
}

.vacancy__card {
  text-align: center;
}

.vacancy__card-title {
  font-weight: 300;
  font-size: 20px;
}

.vacancy__card-number {
  font-weight: 700;
  font-size: 26px;
}

.vacancy__card--total > .vacancy__card-number {
  color: $primary;
  font-size: 36px;
}

