mixin vacancy
  section(class!=attributes.class).vacancy
    h2.vacancy__title Вакансии - Photoshop
      +drop('hh.ru', 'red').vacancy__drop

    .vacancy__card.vacancy__card--left.vacancy__card--total
      h3.vacancy__card-title Всего вакансий
      p.vacancy__card-number 1 210

    ul.vacancy__card.vacancy__card--right.vacancy__card--salary.vacancy__list
      li.vacancy__item.vacancy__item--junior
        h3.vacancy__card-title Начальный
        p.vacancy__card-number 110 000 ₽
      li.vacancy__item.vacancy__item--middle
        h3.vacancy__card-title Средний
        p.vacancy__card-number 190 000 ₽
      li.vacancy__item.vacancy__item--senior
        h3.vacancy__card-title Профессионал
        p.vacancy__card-number 260 000 ₽
