@import "grid";
@import "fonts";

.vacancy__title {
  margin: 0;
  margin-bottom: 25px;
}

.vacancy__drop {
  margin-left: 20px;
}

.vacancy__card {
  min-height: 140px;
  padding: 23px;

  background-color: $white-primary;
  border-radius: $border-radius-primary;
  box-shadow: $shadow-primary;
}

.vacancy__card-title {
  margin: 0;
  margin-bottom: 10px;
}

.vacancy__card-number {
  margin: 0;
}

.vacancy__list {
  margin: 0;

  list-style: none;
}

.vacancy__item {
  position: relative;

  padding-bottom: 30px;

  border-right: 1px solid #ebebeb;

  &:last-child {
    border-right: none;
    border-bottom: none;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: calc(50% - 40px);

    width: 80px;
    height: 20px;

    background-repeat: no-repeat;
    background-position: center;

    content: "";
  }

  &--junior::after {
    background-image: url("../images/stack-sprite.svg#junior");
  }

  &--middle::after {
    background-image: url("../images/stack-sprite.svg#middle");
  }

  &--senior::after {
    background-image: url("../images/stack-sprite.svg#senior");
  }

  @include media("<tablet") {
    margin-right: 40px;
    margin-left: 40px;
    padding-top: 20px;
    padding-bottom: 40px;

    border-right: none;
    border-bottom: 1px solid #ebebeb;

    &::after {
      bottom: 10px;
    }
  }
}
