mixin course-header
  header(class!=attributes.class).course-header
    img(src='@img/skillbox-logo.png' alt='Логотип компании Скиллбокс').course-header__logo

    h2.course-header__title Профессия дизайнер от 0 до PRO

    +hashtags(['Photoshop', 'Дизайн'], 'ghost').course-header__hashtags

    dl.course-header__prices
      dt.course-header__prices-term 24 000 ₽
        +drop('-10 000 ₽', 'discount')(aria-label='Скидка').course-header__discount
      dd.course-header__prices-def цена
      dt.course-header__prices-term 5 000 ₽/мес
      dd.course-header__prices-def в кредит
      dt.course-header__prices-term rating
      dd.course-header__prices-def 20 отзывов
