.course-header {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: [logo] auto [title] auto 1fr [prices] auto;
  align-items: start;

  column-gap: 30px;
}

.course-header__logo {
  display: block;
  grid-row: 1 / 3;
  grid-column: logo;
  width: 70px 70px;
}

.course-header__title {
  grid-row: 1;
  grid-column: title;
  margin: 0;
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 20px;
}

.course-header__hashtags {
  grid-row: 2;
  grid-column: title;
}

.course-header__prices {
  display: grid;
  grid-row: 1 / 3;
  grid-column: prices;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  justify-content: start;

  margin: 0;

  column-gap: 40px;
  row-gap: 5px;
}

.course-header__prices-term {
  display: flex;
  grid-row: 1;

  font-weight: 400;
  font-size: 20px;
}

.course-header__discount {
  margin-left: 5px;
}

.course-header__prices-def {
  grid-row: 2;
  margin: 0;

  font-weight: 300;
  font-size: 14px;
}
