mixin course-footer
  footer(class!=attributes.class).course-footer
    +button('Узнать подробнее')(type='button').course-footer__button.course-footer__button--left
    +button('Читать отзывы', 'ghost', 'arrow')(
      type='button'
      data-reviews='trigger'
    ).course-footer__button.course-footer__button--right
