.course-footer {
  display: grid;
  grid-template-columns: 150px 150px 1fr;

  column-gap: 20px;
}

.course-footer__button {
  &--left {
    grid-column: 1;
  }

  &--right {
    grid-column: 2;
  }
}

@include media("<450px") {
  .course-footer {
    grid-template-columns: 150px;
  }

  .course-footer__button {
    &--left {
      grid-row: 1;
      grid-column: 1;
    }

    &--right {
      grid-row: 2;
      grid-column: 1;
    }
  }
}
