@import "grid";
@import "fonts";

.course-header__logo {
  display: block;
  width: 70px;
  height: 70px;
}

.course-header__title {
  margin: 0;
}

.course-header__term {
  display: flex;
  margin: 0;
}

.course-header__discount {
  margin-left: 5px;
}

.course-header__def {
  margin: 0;
}
