mixin course-header
  header(class!=attributes.class).course-header
    img(
      src='@img/skillbox-logo.png'
      alt='Логотип компании Скиллбокс'
      width='70'
      height='70'
    ).course-header__logo

    h2.course-header__title Профессия дизайнер от 0 до PRO

    +hashtags(['Photoshop', 'Дизайн'], 'ghost').course-header__hashtags

    p.course-header__term.course-header__term--price 24 000 ₽
      +drop('-10 000 ₽', 'discount').course-header__discount
    p.course-header__def.course-header__def--price цена
    p.course-header__term.course-header__term--credit 5 000 ₽/мес
    p.course-header__def.course-header__def--credit в кредит
    +fake-rating(4, 'Средняя оценка').course-header__term.course-header__term--rating
    p.course-header__def.course-header__def--rating 20 отзывов
