.course-header {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto 1fr auto auto auto;
  align-items: start;

  column-gap: 30px;
}

.course-header__logo {
  grid-row: 1 / 3;
  grid-column: 1;
}

.course-header__title {
  grid-row: 1;
  grid-column: 2;
}

.course-header__hashtags {
  grid-row: 2;
  grid-column: 2;
}

.course-header__term {
  grid-row: 1;

  &--price {
    grid-column: 4;
  }

  &--credit {
    grid-column: 5;
  }

  &--rating {
    grid-column: 6;
  }
}

.course-header__def {
  grid-row: 2;

  &--price {
    grid-column: 4;
  }

  &--credit {
    grid-column: 5;
  }

  &--rating {
    grid-column: 6;
  }
}

@include media("<desktop") {
  .course-header {
    grid-template-rows: auto auto 25px auto 5px auto;
    grid-template-columns: 70px auto auto 1fr;
  }

  .course-header__logo {
    grid-row: 1 / 3;
    grid-column: 1;
  }

  .course-header__title {
    grid-row: 1;
    grid-column: 2 / 5;
  }

  .course-header__hashtags {
    grid-row: 2;
    grid-column: 2 / 5;
  }

  .course-header__term {
    grid-row: 4;

    &--price {
      grid-column: 1 / 3;
    }

    &--credit {
      grid-column: 3;
    }

    &--rating {
      grid-column: 4;
    }
  }

  .course-header__def {
    grid-row: 6;

    &--price {
      grid-column: 1 / 3;
    }

    &--credit {
      grid-column: 3;
    }

    &--rating {
      grid-column: 4;
    }
  }
}

@include media("<575px") {
  .course-header {
    grid-template-rows: auto 15px auto 15px auto 25px repeat(3, auto 5px auto 15px);
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .course-header__logo {
    grid-row: 1;
    grid-column: 1;
  }

  .course-header__title {
    grid-row: 3;
    grid-column: 1;
  }

  .course-header__hashtags {
    grid-row: 5;
    grid-column: 1;
  }

  .course-header__term {
    grid-column: 1;

    &--price {
      grid-row: 7;
    }

    &--credit {
      grid-row: 11;
    }

    &--rating {
      grid-row: 15;
    }
  }

  .course-header__def {
    grid-column: 1;

    &--price {
      grid-row: 9;
    }

    &--credit {
      grid-row: 13;
    }

    &--rating {
      grid-row: 17;
    }
  }
}
