mixin skills
  section(class!=attributes.class).skills
    h2.skills__title Получаемые навыки
    +hashtags(['Работа в Photoshop', 'Подготовка макетов', 'Графический дизайн', 'Web дизайн', 'Дизайн сайтов'])
