@import "./grid";

.aside__logo {
  display: block;
  width: 70%;
}

.aside__logo-img {
  display: block;
  width: 160px;
  height: 45px;

  &:hover,
  &:focus {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.7;
  }
}
