mixin aside
  div(class!=attributes.class aria-label='Главная навигация по сайту').aside
    a(href='/' aria-label='На главную странцу').aside__logo
      img(src='@img/logo.svg' alt='Логотип компании').aside__logo-img

    +input('Поиск по сайту')(type='search' placeholder='Поиск...').aside__search

    +navigation.aside__navigation
