@import "fonts";

.advantages__title {
  margin: 0;
  margin-bottom: 30px;
}

.advantages__list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  list-style: none;
}

.advantages__item {
  position: relative;

  margin-bottom: 30px;
  padding-top: 12px;
  padding-left: 90px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 50px;
    height: 50px;

    background-color: #c8f8e4;
    background-image: url("../images/stack-sprite.svg#check");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    border-radius: 100px;

    content: "";
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages__item-title {
  margin: 0;
  margin-bottom: 20px;
}

.advantages__item-text {
  position: relative;

  margin: 0;

  &::before {
    position: absolute;
    top: 10px;
    left: -65px;

    width: 1px;
    height: 85%;

    background-color: #d2d2d2;

    content: "";
  }
}

@include media("<tablet") {
  .advantages__item {
    padding-left: 70px;
  }

  .advantages__item-text::before {
    left: -45px;
  }
}
