mixin advantages
  section(class!='advantages' + '')&attributes(attributes)
    h2.advantages__title Преимущества
    ul.advantages__list
      li.advantages__item
        h3.advantages__item-title Мобильность специалиста
        p.advantages__item-text
          | Выше указаны программы Adobe InDesign, Adobe Illustrator,
          | Corel Draw и ими можно успешно пользоваться дома или в дороге.
          | Современные ноутбуки хорошо справляются с нагрузкой, так зачем загонять
          | специалиста в душный офис. В этой профессии важным считается вдохновение,
          | поэтому дизайнеры ищут его в разных местах.
      li.advantages__item
        h3.advantages__item-title Индивидуальный график работы
        p.advantages__item-text
          | Если освоить программы и найти заказы по графическому дизайну,
          | вскоре окажется, что вставать в 6:00 вовсе не обязательно.
          | Когда у человека вечером продуктивность выше, надо этим пользоваться.
      li.advantages__item
        h3.advantages__item-title Контроль дохода
        p.advantages__item-text
          | Прохождения собеседований в крупные компании могут принести свои плоды.
          | В случае с профессией графического дизайна вполне возможна работа на рынке фриланса.
          | Специалист сам выбирает регион, с кем работать и сколько работать.
          | В связи с этим получится точно контролировать доход в большую или меньшую сторону.
      li.advantages__item
        h3.advantages__item-title Выбор работы
        p.advantages__item-text
          | Пользователи сети, которые знают Photoshop, не обязательно должны выполнять одну работу.
          | Профессия графического дизайнера дает возможность отойти от обычных проектов и повысить
          | скил в других компьютерных программах.
    p.advatages__text
      | При завершении очередного проекта над графикой, специалист всегда задает
      | себе вопрос о дальнейших перспективах. Отличие профессиональных дизайнеров
      | заключается в том, что они гибкие. Сегодня разрабатывается логотип новой компании,
      | а завтра вполне можно переключиться на иллюстрацию культовой книги.
