mixin course
  section.course
    +course-header.course__header

    p.course__description
      | Студенты освоят не только hard skills, необходимые для работы веб-дизайнером,
      | но и soft skills — навыки, которые позволят эффективно взаимодействовать в команде с менеджерами,
      | разработчиками и маркетологами. Выпускники факультета могут успешно
      | конкурировать с веб-дизайнерами уровня middle.

    .course__left-column
      dl.course__summary
        .course__summary-group
          dt.course__summary-term Документ об окончании
          .course__summary-line
          dd.course__summary-def Диплом
        .course__summary-group
          dt.course__summary-term Сложность
          .course__summary-line
          dd.course__summary-def Начальная
        .course__summary-group
          dt.course__summary-term Длительность
          .course__summary-line
          dd.course__summary-def 5 месяцев
      +hashtags(['Гарантия трудоустройства'], 'ghost')

    .course__right-column
      h3.course__features-title Преимущества
      p.course__features-content.course__features-content--advantages
        | Хорошо структурирован курс, быстрый отклик преподователей, качество подачи материал
      h3.course__features-title Недостатки
      p.course__features-content.course__features-content--disadvantages
        | Некоторое темы раскрыты не до конца

    footer.course__footer
      +button('Узнать подробнее').course__footer-button
      +button('Читать отзывы', 'ghost', 'arrow').course__footer-button
