@import "./course-header/course-header";
@import "./course-content/course-content";
@import "./course-footer/course-footer";
@import "./reviews-list/reviews-list";
@import "./reviews-form/reviews-form";
@import "grid";

.course {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.course__section {
  padding: 30px;

  background-color: $white-primary;
  border-radius: $border-radius-primary;
  box-shadow: $shadow-primary;
}

.course__header {
  padding-bottom: 20px;

  border-bottom: 1px solid $button-ghost-border-color;
}

.course__footer {
  padding-top: 20px;

  border-top: 1px solid #ebebeb;
}

.course__reviews {
  display: none;
  margin: 0 -30px -30px;
  padding: 30px;

  background-color: #f9f8ff;
  border-radius: $border-radius-primary;

  &--opened {
    display: block;
  }
}

.course__reviews-form {
  padding-top: 20px;

  border-top: 1px solid #ebebeb;
}

@include media("<tablet") {
  .course {
    padding: 20px;
  }
}
