include course-header/course-header.pug
include course-content/course-content.pug
include course-footer/course-footer.pug
include reviews-list/reviews-list.pug
include reviews-form/reviews-form.pug

mixin course
  section.course
    +course-header.course__header

    +course-content.course__content

    +course-footer.course__footer

    .course__reviews
      +reviews-list.course__reviews-list

      +reviews-form.course__reviews-form
