.course__section {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.course__header {
  grid-row: 1;
}

.course__content {
  grid-row: 2;
}

.course__footer {
  grid-row: 3;
}

.course__reviews {
  display: grid;
  grid-row: 4;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.course__reviews-list {
  grid-row: 1;
}

.course__reviews-form {
  grid-row: 2;
}
