.main-footer {
  color: $white-primary;
  font-weight: 500;
  font-size: 16px;
}

@include media("<desktop") {
  .main-footer__copyright {
    text-align: center;
  }
}

@include media("<tablet") {
  .main-footer__nav {
    text-align: center;
  }
}
