.main-footer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr minmax(280px, 1460px) 1fr;

  column-gap: 30px;
}

.main-footer__inner {
  display: grid;
  grid-column: 2;
  grid-template-columns: auto auto;
  align-items: center;
}


.main-footer__nav {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: end;

  column-gap: 40px;
}

@include media("<desktop") {
  .main-footer__inner {
    grid-template-rows: auto auto;
    justify-content: center;
  }

  .main-footer__copyright {
    grid-row: 2;
    grid-column: 1 / 3;
  }

  .main-footer__nav {
    grid-row: 1;
    grid-column: 1 / 3;
  }
}

@include media("<tablet") {
  .main-footer {
    column-gap: 15px;
  }

  .main-footer__nav {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}
