mixin main-footer
  main-footer(class!='main-footer' + '')&attributes(attributes)
    .main-footer__inner
      p.main-footer__copyright OwlTop © 2020 - 2021 Все права защищены
      ul.main-footer__nav
        li.main-footer__nav-item
          a(href='#').main-footer__nav-link Пользовательское соглашение
        li.main-footer__nav-item
          a(href='#').main-footer__nav-link Политика конфиденциальности

      +icon-button('big', 'primary', 'arrow-up')#scroll-up.main-footer__button-up
