@import "grid";
@import "fonts";

.main-footer {
  background-color: $primary;
}

.main-footer__copyright {
  margin: 0;
}

.main-footer__nav {
  margin: 0;
  padding: 0;

  list-style: none;
}

@include media("<desktop") {
  .main-footer {
    min-height: 150px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
