.drop {
  display: inline-block;
  padding: 5px 10px;

  border-radius: 20px;

  &--gray {
    color: $white-primary;

    background-color: #b3c0d9;
  }

  &--discount {
    color: #1dc37e;

    background-color: #c8f8e4;
  }

  &--ghost {
    color: $gray-primary;

    background-color: transparent;
    border: 1px solid $button-ghost-border-color;
  }

  &--primary {
    color: $primary;

    background-color: transparent;
    border: 1px solid $primary;
  }

  &--red {
    color: $white-primary;

    background-color: #de0000;
  }
}
