@import "fonts";

.drop {
  display: inline-block;
  padding: 5px 10px;

  border-radius: 20px;

  &--gray {
    background-color: #b3c0d9;
  }

  &--discount {
    background-color: #c8f8e4;
  }

  &--ghost {
    background-color: transparent;
    border: 1px solid $button-ghost-border-color;
  }

  &--primary {
    background-color: transparent;
    border: 1px solid $primary;
  }

  &--red {
    background-color: #de0000;
  }
}
