@import "grid";

.reviews-form__rating {
  display: flex;
  align-items: center;
}

.reviews-form__rating-label {
  margin: 0;
  margin-right: 20px;
}

.reviews-form__annotation {
  margin: 0;
}

@include media("<575px") {
  .reviews-form__button {
    margin-bottom: 20px;
  }
}
