@import "grid";

.reviews-form__button {
  @include media("<575px") {
    margin-bottom: 20px;
  }
}

.reviews-form__annotation {
  margin: 0;
}

.reviews-form__rating {
  display: flex;
  align-items: start;
}

.reviews-form__rating-label {
  margin: 0;
}

