@import "grid";
@import "fonts";

.footer {
  background-color: $primary;
}

.footer__copyright {
  margin: 0;
}

.footer__nav {
  margin: 0;
  padding: 0;

  list-style: none;
}

@include media("<desktop") {
  .footer {
    min-height: 150px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
