mixin footer
  footer(class!=attributes.class aria-label='Подвал сайта').footer.text--16.text--medium
    .footer__inner
      p.footer__copyright OwlTop © 2020 - 2021 Все права защищены
      ul.footer__nav
        li.footer__nav-item
          a(href='#').footer__nav-link Пользовательское соглашение
        li.footer__nav-item
          a(href='#').footer__nav-link Политика конфиденциальности
