.footer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr [inner] minmax(320px, 1460px) 1fr;

  color: $white-primary;
  line-height: 24px;

  column-gap: 30px;

  background-color: $primary;
}

.footer__inner {
  display: grid;
  grid-column: inner;
  grid-template-columns: auto auto;
  align-items: center;
}

.footer__copyright {
  margin: 0;
}

.footer__nav {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: end;
  margin: 0;
  padding: 0;

  column-gap: 40px;

  list-style: none;
}

