.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  border: none;
  border-radius: $border-radius-primary;
  cursor: pointer;

  &:disabled {
    background-color: $button-disabled-color;
  }
}

.button--primary {
  color: $white-primary;

  background-color: $primary;


  & > .button__icon > svg {
    fill: $white-primary;
  }

  &:hover,
  &:focus {
    background-color: $primary-hover;
  }

  &:active {
    background-color: $primary-active;
  }
}

.button--ghost {
  color: $gray-primary;

  background-color: $white-primary;
  border: 1px solid $button-ghost-border-color;

  & > .button__icon > svg {
    fill: $gray-primary;
  }

  &:hover,
  &:focus {
    color: $white-primary;

    background-color: $primary;

    & > .button__icon > svg {
      fill: $white-primary;
    }
  }

  &:active {
    background-color: rgba($primary, 0.7);
  }
}

.button__content + .button__icon {
  margin-left: 10px;
}

.button__icon {
  &--arrow > svg {
    width: 10px;
    height: 10px;
    margin-bottom: -1px;
  }

  &--search > svg {
    width: 15px;
    height: 15px;
    margin-bottom: -3px;
  }
}
