mixin input(label)
  case attributes.type
    when 'search'
      label(class!=attributes.class).input.input--search
        span.input__label.visually-hidden= label
        input(type!=attributes.type placeholder!=attributes.placeholder disabled!=attributes.disabled).input__input
        +button('', 'primary', 'search')(type='button' disabled!=attributes.disabled).input__button

    default
      label(class!=attributes.class).input
        span.input-label.visually-hidden= label
        input(type!=attributes.type placeholder!=attributes.placeholder disabled!=attributes.disabled).input__input
